@import "tailwindcss";

@theme {
  --color-dark: oklch(0.3316 0.0247 22.68);
  --color-light: oklch(0.8199 0.0585 23.03);
  --color-card: oklch(0.3463 0.048 22.68);
  --color-primary: oklch(0.4337 0.1082 22.68);
}

/*
  The CSS provides native app feelings.
  reference: https://qiita.com/akr/items/73515eb5dcf58d7e331c
*/

body {
  overflow: hidden;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}
