@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* ウェブページっぽさをなくす。 */
  user-select: none;
  cursor: default;
  overflow: hidden;
  /* リセットCSS */
  margin: 0; padding: 0;
  /* 見た目 */
  font-family: "MS Pゴシック", sans-serif;
}
